body{
  text-align: center;
}
button{
  padding:7px;
  background-color: #ec5858;
  color:white;
  border-radius: 5px;
  border:none;
  cursor:pointer;
}

.submitButton{
  padding:7px;
  background-color: #61b15a;
  color:white;
  border-radius: 5px;
  border:none;
}
h2{
color:green;
}
p{
  font-size: 1.5rem;
}

span{
  padding:30px;
}
table{
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
